@import "@sass/_media.scss";

.productsContainer {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	margin-top: 2rem;
	background-color: #e8eceb;
	padding: 1rem;
	overflow-x: hidden;
	position: relative;

	& > header {
		display: flex;
	}

	.productsBody {
		width: 100%;
		display: flex;
		flex-flow: column;
		gap: 0.5rem;
	}

	@include desktop {
	}
}
