@import "@sass/_media.scss";

.productsHeader {
	display: flex;
	align-items: center;
	gap: 15%;

	& > h2 {
		font-size: 24px;
		font-weight: bold;
		width: max-content;
		white-space: nowrap;
	}

	.form {
		display: flex;
		align-items: center;
	}

	@include lte-tablet-large {
		gap: 1%;
		flex-flow: column;
		& > h2 {
			font-size: 20px;
		}
	}
}
