@import "@sass/_media.scss";

.productsContainer {
	display: flex;
	height: 90%;
	flex-flow: column;
	align-items: flex-start;
	margin-top: 2rem;
	background-color: #e8eceb;
	overflow-y: scroll;
	padding: 1rem;
	position: relative;

	& > header {
		display: flex;
		flex: 0.1;
	}

	.productsBody {
		width: 100%;
		display: flex;
		flex-flow: column;
		gap: 0.5rem;
	}
}
