@import "@sass/_media.scss";

.listItem {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;

	gap: 1rem;
	padding: 1rem;
	min-height: 4rem;
	border: 1px solid gray;

	.isAvailable {
		flex-basis: 10%;
	}

	.listItemPrice {
		flex-basis: 7%;
	}

	.group {
		flex-basis: 10%;
		width: max-content;
	}
	.listItemInfo {
		display: flex;
		flex-flow: column wrap;

		& > h3 {
			display: flex;
			flex-flow: row wrap;
			font-size: 1rem;
			font-weight: 500;
		}
	}

	.deleteIcon {
		justify-self: flex-end;
		flex: 0.3;

		&:hover {
			cursor: pointer;
			scale: 1.2;
		}
	}

	@include desktop {
		& > * {
			font-size: 12px;
		}
		.listItemInfo {
			& > h3 {
				font-size: 0.8rem;
			}
		}
	}
}
