.incomeListContainer {
	width: 100%;
	height: 70%;
	position: relative;

		.closeButton {
			position: absolute;
			right: 0;
			top: 0.5%;
		}


	.incomeList {
		width: 100%;
		display: flex;
		flex-flow: column;
		gap: 0.3rem;
	
		.incomeListItem {
			width: 100%;
			height: 4rem;
			border: 1px solid gray;
		}
	}
}
