@import "@sass/_media.scss";

.incomeContainer {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
	background-color: #e8eceb;
	padding: 1rem;
	overflow: scroll;
	position: relative;

	& > header {
		position: absolute;
		left: 2%;
		top: 1%;
		width: max-content;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		font-size: 22px;
		font-weight: bold;

		&:hover {
			cursor: pointer;
		}
	}

	.incomeContent {
		margin-top: 2rem;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 2rem;
	}

	@include desktop {
		& > header {
			left: 5%;
		}

		.incomeContent {
			flex-flow: column;
			align-items: center;
			justify-content: center;
			max-width: 100%;
		}
	}
}
